body {
  background-color: hsla(90, 80%, 80%, 0.2);
}

.wrapper {
    width: 700px;
    margin: 0 auto;
}


label {
  display: block;
  margin-top: 25px;
}

span {
  margin-left: 25px;
  background-color: orange;
  padding: 5px;
}
