body {
    font: 20px Arial, sans-serif;
}

.wrapper {
  width: 800px;
  height: 100vh;
  margin: auto;
  background: hsla(90, 60%, 40%, 0.2);  /* 90-цвет,60-уровень серого,
                                           40-яркость, 0,2 - прозрачность  */
  border: 1px solid transparent;       /* лечим margin-collaps */
}


h1 {
  font-size: 2.25em;
  text-align: center;
  margin: 50px;
}
/* ===================================    MENU   =============================*/
/* =======================================  UL ===============================*/
        /* ================= ГАБАРИТЫ ПОЛОЖЕНИЕ ГРАНИЦЫ ФОН ВСЕГО МЕНЮ =======*/
ul.menu {
    margin: auto;                 /* отцентрируем для примера    */
    width: 750px;                 /* отцентрируем для примера    */
/*    list-style: none;   */          /* убираем точки-маркеры   */
    background-color: red;        /* задаем цвет фону меню  */
    border: 5px solid hsla( 200, 80%, 30%, 0.1);
    box-shadow: 5px 5px 5px hsla( 200, 0%, 0%, 0.5);
}
/*зачищаем края. Без этого блока будут проблемы с нижними соседями по потоку */
ul.menu:after {
    display: block;
    content: ' ';
    clear: both;
}
/* ====================================  LI  =================================*/
  /* =============== ГАБАРИТЫ ПОЛОЖЕНИЕ ГРАНИЦЫ ФОН КНОПКИ МЕНЮ  =============*/
/*  Зададим точку отсчета для  абсолютного позиционирования
                                                от левого верхнего угла UL */
li.menu__item {
    float: left;            /* Выстроим в ряд.
                                     Можно и  right - поменяется направление  */
    position: relative;     /*Если убрать это свойство, то блоки будут
                             позиционироваться по левому верхнему краю body */
    width: 150px;           /* зададим ширину кнопки  */
    height: 45px;
    box-sizing: border-box;  /* включим в расчет ширины кнопки также бордеры*/
    border-left: 5px solid maroon;  /* зададим левый бордер */
}



/* ===============================  A  ====================================== */
/* ========== ОБЛАСТЬ КЛИКА = ГАБАРИТЫ ГРАНИЦЫ  ФОН ТЕКСТ КНОПКИ МЕНЮ  ====== */

a.menu__link {
    display: block;           /* блочному элементу можно задать размеры */
    padding: 10px;            /* паддинг ссылки -кликабелн                  */
    color: white;             /* цвет текста                                */
    text-decoration: none;    /*  убираем по умолчнию подчеркивание ссылки  */
    /* цвет текста */
    /*background: blue;              */
}


a.menu__link:hover {
    background-color: yellow;      /* изменение оформления  - фон*/
    color: black;                  /* цвет текста  */
}

/* ===========================  SUBMENU  UL ================================= */
/* ================= ГАБАРИТЫ ПОЛОЖЕНИЕ ГРАНИЦЫ ФОН ВСЕГО МЕНЮ ============= */

ul.submenu {
    display: none;  /*по умолчанию поля подменю - есть, но не отображаются */
    position: absolute;
    width: 120px;
    top: 43px;
    left: 0;
    /*background-color: white;*/
    border: 1px solid red;
    box-shadow: 4px 4px 4px hsla( 200, 0%, 0%, 0.6);
}

 /* Элемент не обязательный, для страховки */
/*li.submenu__item {
    display: block;
}*/
/* ===============================     SUBMENU  A     ======================================== */
  /* ========== ОБЛАСТЬ КЛИКА = ГАБАРИТЫ ГРАНИЦЫ  ФОН ТЕКСТ КНОПКИ МЕНЮ  ==================== */
a.submenu__link {
    display: block;
    padding: 10px;
    color: white;
    background-color: darkred;
    text-decoration: none;
}

a.submenu__link:hover {
    text-decoration: underline; /*при наведении на ссылку в подменю - появляется подчеркивание*/
}

/* =============================   SWITCH ON: SUBMENU  UL ==================================== */
/*при наведении на элемент списка верхнего урвня li:hover - меню проявляется*/
ul.menu > li.menu__item:hover > ul.submenu {
    display: block;
}


/*Задания:
1. Поменять цвет меню.
2. Поменять подчеркивание ссылки - сделать "зачеркивание"
3. Сдвинуть место появления выпадающего меню на 15 пикселей вправо
4. Заменить цвет, фона верхнего меню при наведении на синий.
5. Сделать изменение фона при наведение на пункты меню (выпадающих элементов).
6*. Изменить порядок пунктов меню  --- только в CSS!!!
*/
