body {
  background: hsla(225, 10%, 10%, 0.1);

}

.wrapper {
  width: 960px;
  height: 1200px;
  margin: auto;
  background: hsla(225, 50%, 50%, 0.2);
  border: 1px solid transparent;
}

h1 {
  text-align: center;
}

label {
  display: block;
  text-indent: 20px;
}

i {
  padding-left: 15px;
}

input[type='submit'] {
  padding: 10px 20px;
  display: block;
  border-radius: 10px;
  margin: 50px auto;
  background-color: #D17300;
}

input[type='submit']:hover {
  background-color: darkorange;
}

input[type='submit']:active {
  background-color: orange;
}

.block {
  margin: auto;
  padding-left: 50px;
  /*border: 1px dotted yellow;*/
}
