body {
  background: hsla(225, 10%, 10%, 0.1);

}

.wrapper {
  width: 70%;
  height: 1200px;
  margin: auto;
  background: hsla(225, 50%, 50%, 0.2);
  border: 10px solid hsla(225, 50%, 90%, 1);
}

p.text {
float:left;
width:60%;
line-height: 50px;
font-size: 25px;
background: hsla(200, 60%, 40%, 0.2);
}

div.img-wrap{
float:right;
width:40%;
background: hsla(250, 60%, 60%, 0.2);
}
/*      add responsive for img   */
img.responsive {
max-width: 100%;
height: auto;
}

.imgtext {
  text-align: center;
}
