body {
  background: hsla(225, 10%, 10%, 0.1);

}

.wrapper {
  width: 960px;
  height: 1200px;
  margin: auto;
  background: hsla(225, 50%, 50%, 0.2);
  border: 1px solid transparent;
}

h1 {
  text-align: center;
}
body {
  background: hsla(225, 10%, 10%, 0.1);
  font-size: 16px;
}

.wrapper {
  width: 960px;
  height: 1200px;
  margin: auto;
  background: hsla(225, 50%, 50%, 0.2);
  border: 1px solid transparent;
}

h1 {
  text-align: center;
}

.exchange{
  position: relative;
  width: 250px;
  background: #5B9B21;
  border-radius: 10px;
  text-align: center;
  padding: 6px;
}

.exchange > h2 {
  text-shadow: 1px 1px 1px hsla(0, 0%, 0%, 0.2);
}

.exchange::before,
.exchange::after {
  content: "";
  width: 6px;
  height: 6px;
  background: hsla(110, 40%, 70%, 0.8);
  border-radius: 3px;
  position: absolute;
}

.exchange::before {
  top: 10px;
  left: 10px;
}

.exchange::after {
  top: 10px;
  right: 10px;
}

.exchange > h2 > b {
  color: hsla( 110, 31%, 86%, 0.8);
  text-shadow: 1px 1px 1px hsla(0, 0%, 0%, 0.2);
}

.exchange > div > span {
  display: block;
  font-style: italic;
  font-size: 0.8rem;
  padding-bottom: 6px;
  text-shadow: 1px 1px 1px hsla(0, 0%, 0%, 0.2);
}

#exchange-today {
  color: hsla( 110, 31%, 86%, 0.8);
  text-shadow: 1px 1px 1px hsla(0, 0%, 0%, 0.2);
  padding-left: 26px;
}

.exchange > table {
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 16px 6px;
}

.exchange > table > tbody > tr > th > p {
  margin: 0 auto;
}

.exchange > table > tbody > tr > td[colspan="3"] {
  text-align: center;
}

#exchange-usd,
#exchange-eur,
#exchange-rur,
#exchange-sale-usd,
#exchange-sale-eur,
#exchange-sale-rur {
  margin: 0 auto;
  font-size: 26px;
  text-shadow: 1px 1px 1px hsla(0, 0%, 0%, 0.2);
  color: hsla( 110, 41%, 76%, 0.8);
  line-height: 28px;
}

td:nth-child(2n+1),
th:nth-child(2n+1)  {
  background: hsla( 110, 41%, 0%, 0.1);
}

td:nth-child(3n+2),
th:nth-child(3n+2)  {
  background: hsla( 110, 41%, 100%, 0.1);
}

td {
  border-radius: 4px;
}
