body {
  background: #151718;
  font-family: Ubuntu, Roboto, Arial, sans-serif;
}

h1 {
  color: #eee;
}

.wrapper {
  width: 900px;
  background: #242c2f;
  padding: 20px;
  margin: auto;
}

label {
  display: block;
  margin: 20px;
  font-size: 28px;
  padding-left: 15px;
  padding-right: 15px;
}

input {
  height: 36px;
  font-size: 24px;
  text-indent: 15px;
  margin-right: 20px;
  border-radius: 10px;
}

input[type="submit"] {
  text-indent: 0;
  margin-top: 20px;
  text-align: center;
  width: 150px;
}

input[value="delete"] {
  text-indent: 0;
  margin-top: 20px;
  text-align: center;
  width: 330px;
  color: red;
}

input[value="get"] {
  color: green;
}

input[value="put"],
input[type="number"]
 {
  display: inline;;
  text-indent: 0;
  margin-top: 20px;
  text-align: center;
  width: 150px;
  color: red;
}

i {
  color: #eee;
}
