*{
  margin: 0;
  padding: 0;
}
header{
  height: 100px;
  background-color: orange;
}
.container{
  /*overflow: hidden;*/
}
.sidebar{
  float:left;
  width: 30%;
  background-color: yellow;
}
main{
  float: right;
  width: 70%;
  background-color: green;
}
footer{
  clear: both;
  height: 100px;
  background-color: #454545;
  color: white;
  text-align: center;
}
