.wrapper {
    width: 900px;
    height: 1200px;
    margin: auto;
    background: hsla(225, 50%, 50%, 0.2);
    box-shadow: 2px 2px 5px 5px hsla(360, 0%, 0%, 0.2);
    position: relative;
}

h1,
p {
    text-align: center;
    color: darkblue;
    padding: 20px;
}

.red {
    color: red;
}
.blue {
    color: lightblue;
}
.green:hover {
  color: green;
  cursor: pointer;
}
.blue:hover {
  color: blue;
}
.social:hover {
  cursor: pointer;
  background-color: yellow;
}

/*.social{
  width: 20px !important;
}*/
